* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a1b5be;
}

/* Weather/Notification/Login */
.header {
    display: grid;
    grid-template-columns: 7fr 5fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 3% 5%;
    height: 7%;
}

.weather-container {
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: rgb(208, 207, 188);
    border: rgb(208, 207, 188);;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-family: 'Montserrat', sans-serif;
}

.weather-container * {
    margin: 0;
}

.weather-temperature {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 2.4vh;
}

.weather-temperature > * {
    padding: 13% 0 0;
}

.weather-status {
    grid-column: 1/2;
    grid-row: 2/3;    
    text-align: center;
    font-size: 1.5vh;
}

.weather-status > * {
    padding: 0 0 5%;
}

.weather-img {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
}

.weather-img > * {
    height: 100%;
}

.buttons-container {
    grid-column: 3/4;
    grid-row: 1/3;
    align-items: right;
    display: flex;
    gap: 2%;
}

.buttons-container > * {
    text-align: right;
    height: 80%;
}

.help-button, #notif-button, #login-button {
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 3.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 5px;
    text-wrap: nowrap;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: #008CBA; 
    color: #ffffff;
}

.button2:hover {
    background-color: #003749;
    color: rgb(255, 255, 255);
}

.android-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 3.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
}

#notif-notice {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 4.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 2%;
}

/* Tables */
.bus-table {
    margin: 0 auto 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: 3.1vw;
    font-family: 'Montserrat', sans-serif;
}

.bus-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.bus-table tbody tr {
    border-bottom: 2px solid #dddddd;
    height: 5vh;
}

#all-bus-table tbody tr:nth-of-type(even) {
    background-color: #e7e6e6;
}

#all-bus-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

#pin-bus-table tbody tr {
    background-color: #ffffff;
}

.bus-table tbody tr:last-of-type {
    border-bottom: 4px solid #327fa8;
}

.bus-table th,
.bus-table td {
    padding: 0.6% 2%;
}

.num-col {
    width: 28%;
}

.num-col:not(th) {
    font-size: 5vw;
    padding: 0.6% 2% 0.6% 4%;
}

.status-col {
    width: 21%;
}

.time-col {
    width: 14%;
}

.pin-col {
    text-align: center;
    width: 22%;
}

.pin-button {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
    transition: 0.2s;
}

.announcement {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 3.1vw;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color:#000000;
}

.announcement-table {
    margin: 0 auto 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
}

.announcement-table thead th {
    background-color: #838BC2; 
    font-size: 310%; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 7px;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.announcement-table tbody tr {
    border-bottom: 2px solid #dddddd;
    height: 5vh;
}

#announcement-table tbody tr {
    background-color: #ffffff;
}

.timer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #31538d;
    color: #ffffff;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 88%;
    margin-bottom: 3%;
}


.credits-dropdown {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(0);
    max-height: 0px;
    transition: clip-path 1s, transform 1s, max-height 1s;
    background-color: lightgray;
    z-index: 0;
    width: 100%;
}
#credits-dropdown:checked ~ .credits-dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(-100%);
    max-height: 9999999999999px;
    transition: clip-path 1s, transform 1s;
}
#credits-dropdown {
    display: none;
}

.credits-dropdown-label::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    content: "\f062";
    padding: 5px;
    z-index: 1;
}
#credits-dropdown:checked ~ .credits-dropdown-label::before {
    content: "\f063";
}


@media (orientation: landscape) {
    .header {
        grid-template-columns: 4fr 9fr 3fr;
    }

    #login-button, #notif-button, .help-button {
        font-size: 1.8vw;
    }

    #notif-notice {
        font-size: 2vw;
        padding: 1%;
    }
    
    .bus-table {
        width: 70%;     
        font-size: 1.5vw;
    }

    .weather-temperature > *{
        padding: 5% 0 0;
    }

    .weather-status > *{
        padding: 0 0 3%;
    }

    .bus-table th,
    .bus-table td {
        padding: 0.6% 1%;
        width: 28%;
    }

    .num-col:not(th) {
        font-size: 2vw;
    }

    .pin-col {
        width: 5%;
    }

    .pin-button:hover {
        cursor: pointer;
    }

    #notif-notice:hover {
        cursor: pointer;
    }
  
    .announcement-table {
        width: 70%;
        font-size: 0.8vw;
        background-color: #838BC2; 
        padding-top: 5px; 
        padding-bottom: 5px; 
        padding-left: 10px;
        color: #ffffff;
        text-align: left;
    }

    .announcement {
        font-size: 1.5vw;
    }
    .timer-box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        background-color: #31538d;
        color: #ffffff;
        padding: 1%;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        width: 68%;
        margin-bottom: 3%;
    }

}

